* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: url(images/bg.avif) no-repeat;
    background-size: cover;
    color: white;
}

.container {
    background-color: rgb(202, 169, 108);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-height: 70vh;
    max-width: 70vh;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container input[type="text"] {
    border-radius: 5px;
    padding: 7px 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: black;
    outline: none;
    font-size: medium;
    font-weight: 300;
}

.s {
    padding: 7px;
    background-color: skyblue;
    margin-top: 5px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.tasks {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    width: 400px;
    min-height: 50px; 
    max-height: 100px;
    overflow: auto; 
}

.tasks .task {
    flex-grow: 1; 
    font-size: larger;
    font: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.tasks .material-symbols-outlined {
    margin-left: auto; 
}

.material-symbols-outlined:hover{
    transform: scale(1.5);
}

.tasks input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
}


.tasks input[type="checkbox"]::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease;
}

.tasks input[type="checkbox"]:checked::after {
    background-color: green;
}

.warning{
    color: red;
}

@media screen and (max-width: 450px) {
    .container {
        max-width: 90%; 
    }

    .tasks {
        display: flex;
        flex-wrap: wrap; /* Allow tasks to wrap to the next line */
        align-items: center;
        justify-content: center;
        gap: 10px; /* Adjust gap between tasks for smaller screens */
        margin-top: 5px;
        padding: 5px;
        background-color: black;
        border-radius: 5px;
        width: 90%; /* Make tasks container full width */
        min-height: 25px; 
        max-height: 50px;
        overflow: auto; 
    }
}
