*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #191919;

}

.horizantal-gallery{
    display: flex;
    width: 900px;
    overflow-x: scroll;
}

.horizantal-gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.horizantal-gallery div img{
    width: 100%;
    -webkit-filter: grayscale(100%);
}

.horizantal-gallery div img:hover{
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    transform: scale(1.1);
}

.horizantal-gallery::-webkit-scrollbar{
    display: none;

}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#backBtn,#nextBtn{
    width:50px;
    margin: 10px;
    cursor: pointer;
}

